<div class="container">
    <div class="row">
        <div class="col-ms col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Buscar Deudor</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <label for="fact" class="col-sm-1 col-form-label">Buscar</label>
                        <div class="col-ms col-md-4">
                            <input type="text" class="form-control" id="fact" #fact maxlength="30" (keyup.enter)="FN_Search(fact.value)">
                        </div>
                        <div class="col-ms col-md-1">
                            <button type="button" class="btn btn-outline-primary" (click)="FN_Search(fact.value)">Buscar</button>
                        </div>
                        <div class="col-ms col-md-1">
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#DebtorRegisterModal">Nuevo</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-ms">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Tip.Documento</th>
                                            <th>Documento</th>
                                            <th>Nombre</th>
                                            <th>Fch.Nacimiento</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let Item of detail">
                                            <td>{{Item.documentType}}</td>
                                            <td>{{Item.document}}</td>
                                            <td>{{Item.name}}</td>
                                            <td>{{Item.birthdayDate|date:'dd/MM/yyyy'}}</td>
                                            <td>
                                                <button type="button" class="btn btn-outline-warning" (click)="FN_Update(Item)" data-bs-toggle="modal" data-bs-target="#DebtorRegisterModal">Editar</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger" (click)="FN_Inactivate(Item)">Inactivar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>    
</div>
<app-debtor-register (ResultProcess)="FN_ResultProcess($event)"></app-debtor-register>